.calendar-mini{
    max-width: 500px;
    margin:auto;
}

.calendar-header{
    text-align:center;
    font-weight:bold;
    font-size:1.1rem;
    margin-bottom:10px;
}

.calendar-days,
.calendar-grid{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:4px;
}

.calendar-days div{
    text-align:center;
    font-size:12px;
    font-weight:bold;
    color:#6c757d;
}

.day{
    min-height:55px;
    padding:4px;
    border-radius:8px;
    text-align:center;
    font-size:12px;
}

.success{
    background:#d1e7dd;
    color:#0f5132;
}

.warning{
    background:#fff3cd;
    color:#664d03;
}

.danger{
    background:#f8d7da;
    color:#842029;
}

.empty{
    visibility:hidden;
}

/* para pantallas pequeñas */
@media (max-width: 576px){

    .calendar-mini{
        max-width: 100%;
    }

    .calendar-header{
        font-size: 0.6rem;
    }

    .calendar-days div{
        font-size: 10px;
    }

    .day{
        min-height: 40px;
        padding: 2px;
        font-size: 9px;
    }

    .day small{
        display: block;
        font-size: 8px;
    }
}