.slide-carburantes {
    height: 420px;
    background:
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url('../img/carburantes.jpg');

    background-size: cover;
    background-position: center;
}

.slide-alimentos {
    height: 420px;
    background:
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url('../img/alimentos.jpg');

    background-size: cover;
    background-position: center;
}

.slide-transporte {
    height: 420px;
    background:
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url('../img/transporte.jpg');

    background-size: cover;
    background-position: center;
}

.textos{
    font-size: 13px;
}

@media (max-width: 676px){

    .textos{
        display: block;
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
        font-size: 12px;
    }
}

/* mapa */
#mapa{
    height: 600px;
    width: 100%;
    border-radius: 1%;
}

